In [1]:
#print 0 to 20 by using range

In [8]:
range(0,20)
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [1]:
# print range 10 to 20

In [24]:
range(10,20)
for i in range(10,20):
    print(i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [25]:
#Print number of items in the list by using 'len'

In [35]:
list=[10,20,14,55,45,87,76]
print(list)
print("Number of item in the List:")
print(len(list))

[10, 20, 14, 55, 45, 87, 76]
Number of item in the List:
7

In [47]:
print("Artificial Intelligence")
a='Artificial Intelligence'
for word in a:
    print(word)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [48]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [51]:
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [4]:
tup1 = (0, 1, 2, 3)
tup2=('Python', 'Hope')
tup3=(tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [5]:
# print Odd Numbers in the list

In [8]:
list=[20,10,16,19,25,1,276,188]
for n in list:
    if((n%2==1)):
        print(n, "is odd" )

19 is odd
25 is odd
1 is odd

In [9]:
#print Even numbers in the list

In [10]:
list=[20,10,16,19,25,1,276,188]
for n in list:
    if((n%2==0)):
        print(n, "is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even